/flights_table/vendor/
/flights_table/.env

/loja/vendor/
/loja/.env

node_modules/

public/hot

public/storage

storage/*.key

.phpunit.result.cache

Homestead.yaml

Homestead.json

npm-debug.log

yarn-error.log
